{% extends 'base.html' %}

{% block content %}


    <div class="slider">
        <div class="slider-content">
        <h2 class="title">Welcome to Gas Utility Online</h2>
        <p class="content">In this website you can create your account, login to your account and rasie the request for any service you requried regarding your connection.</p>
        </div>
        <div class="slider-img">
        <img class="sliderimg" src="/static/image/img1.jpg" alt="Image 1">
        <img class="sliderimg" src="/static/image/img2.jpg" alt="Image 2">
        <img class="sliderimg" src="/static/image/img3.jpg" alt="Image 3">
        </div>
    </div>

{% endblock %}