{% extends 'base.html' %}

{% block content %}


<div style="width: 80%; max-width: 600px; margin: 50px auto; text-align: center; background-color: #fff; border-radius: 10px; padding: 30px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <i class="fas fa-check-circle" style="font-size: 100px; color: #4CAF50; margin-bottom: 20px;"></i>
    <h1 style="color: #4CAF50;">Congratulations!</h1>
    {% for n in data %}
    <p style="color: #333; font-size: 18px; margin-bottom: 30px;">{{n.info}}</p>
    {% endfor %}
    <button style="background-color: #4CAF50; color: #fff; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;" onclick="window.location.href = {% url 'profile' %};">Continue</button>
  </div>


  {% endblock %}